{
  "root": true,
  "env": {"commonjs": true, "es2021": true, "node": true},
  "extends": ["eslint:recommended", "google", "prettier"],
  "parserOptions": {"ecmaVersion": "latest"},
  "rules": {
    "indent": ["error", 2, {"SwitchCase": 1, "MemberExpression": 1}],
    "new-cap": ["error", {"capIsNewExceptions": ["Schema", "Router"]}]
  }
}
